@import "../../App.scss";

.features-block {
  margin-right: auto;
  margin-left: auto;
  flex-direction: row;
}

.predictContainer {
  background-color: $backgroudLightBlue;
}

@media (max-width: 800px) {
  .features-block {
    flex-direction: column;
  }
}

.gClass {
  background-color: aliceblue !important;
}

.features-heading {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  padding-top: 40px;
  font-weight: 400;
  margin-top: 0px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Header {
  background-color: #1976d2;
  padding: 10px;
  color: white;
  text-align: center;
}

.List {
  padding: 0;
}

.ListItem {
  cursor: pointer;
  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
}

.TableRow {
  cursor: pointer;
  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
}
